@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');
@import '~video-react/dist/video-react.css';
:root{
    --main-color:#D2AB95;
    --sec-color:#2A334A;
    --back-color:#EEEEEE;
    --black:#000000;
    --wheat:wheat;
    --white:#fff;
    --light:#ccc;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1) ;
    --border:.3rem solid rgb(27, 27, 19);
}
*{

    box-sizing: border-box;
    
}
.btn{
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    background: var(--main-color);
    padding: .9rem 4rem;
    margin-top: .6rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius:7px;
    display: inline-block;
    cursor: pointer;
    border: .2rem ;
}
.btn:hover{
    letter-spacing:.08rem;
    background: #000000;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
    background:var(--back-color);

}
.navar{
    background: var(--main-color);
    top: 0; left: 0; right: 0;
    display: flex;
    box-shadow: var(--box-shadow);
    border-bottom: var(--black);
    justify-content: space-between;
}
.navcontanier{
    display:contents;
    
}
.navbar-contain {
    align-items: center;
    font-size: 1.2rem;
    margin: 0 1rem;
    color: #000000;

}  
.navbar-contain a:hover{
    border-bottom: .02rem solid var(--black);
}
.navbar-contain ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.navbar-contain  a{
text-decoration: none;
color: #000000;
padding: 0 12px;
margin: 0 .7rem;

}
.icons{
    font-size: 1.2rem;
    margin:  0.5rem;
    color: #000000;
}
.navbar-contain .nav-btn{
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color:#000000;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
}
.navbar-contain .nav-btn:hover{
    background: #000000;
    color: #fff;
}
/*login*/
.login-form{
    top:100px;
    left: 0;
    min-height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10000;
    
}
.login-form .log-ALL{
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius:.7rem;
    width: 34rem;
    height: 25rem;
    position: absolute
    ;
    /*border: var(--border);*/
}
.login-form h2{
    text-align: center;
    margin: 15px 10px 20px;
    font-weight: 700;
    color: #333;
    font-size: 3rem;
}

.login-form .box-log{
    
        display: block;
        width: 100%;
        height: 41px;
        padding: 6px 12px;
        font-size: 18px;
        line-height: 1.5;
        color: gray;
        background-color: #fff;
        background-image: none;
        border: 1px solid #b8babc;
}
.login-form  form  label{
    font-family: proxima-nova-bold;
    color: gray;
    font-size: 1rem;
   margin-top:1rem ;
}
.login-form  .btn{
    display: block;
    width: 100%; 
    padding: .5rem ;
}
.login-form  form a{
    font-size: 1rem;
    text-decoration: underline;
}
.log-ALL .icons{
    position: absolute;
    top:2rem;
    right:3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.check{
    padding-top: 1rem;
}
.log-ALL h3{
    text-align: center;
    color:#333;
    margin-top: .5rem;

}
.log-ALL .SignUpL{
    display:flex;
}
.SignLink{
padding: 1rem;}



button{
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color:#000000;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    border: 2px solid #000000;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color:#000000;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
/*sign up*/
.signup-form form .allform .box::placeholder{
    font-size: 1rem;
}
.signup-form .boxs{
    font-size: 1rem;

}
.signup-form{
    position: fixed;
    top:100px;
    left: 0;
    min-height:70vh;
    width:100%;
    display: contents;
    z-index: 10000;

}
.signup-form .names{
    font-size: .5rem;
    display: flex;
    padding-right: 7rem;
}
.signup-form .names label{
    padding: 1.5rem;
    color: gray;
    font-size: 1rem;
   margin-top:1rem ;
}

.signup-form form{
    margin: 1rem;
    padding: .8rem 1.2rem;
    border-radius:1rem;
    background:var(--main-color);
    width:40rem;
    height:26rem;
    margin-left: 25rem;

}
.signup-form form .allform{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.signup-form form h3{
    text-align: center;
    margin: 14px 10px 20px;
    color: #333;
    font-size: 2rem;
}
.signup-form form span{
    color: var(--main-color);
}

.signup-form input[type="email"],input[type="text"],input[type="number"],input[type="password"].box{
    width: 100%;
    padding: 0.85rem;
    font-size: 1.2rem;
    color: #000000;
    margin: .1rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform:none;
    border-radius:.5rem;
    display: flex;
}

.signup-form form .allform label{
    font-size: 1.3rem;
}

.signup-form .btn{
     font-size: medium;
     background: #2A334A;
 }
 /*'home*/
 .home-page1{
    width:100%;
    align-items: center;
    height: 100%;
 }
 .text h1{
     color: var(--sec-color);
     padding-top: 2rem;
 }
 .text h2{
    color: var(--main-color);
    padding-top: 1rem;
    text-align: center;
}
.text h3{
    color: var(--sec-color);
    padding-top: 2rem;
}
.text p{
    color: #000000;
    font-size: 1.2rem;
}
.home-1 .home-text{
    font-size:2rem;
    line-height: 1.2em;
    color:var(--black);
    padding:1rem;
    text-align: center;
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .home-2{
    margin: 4rem;
    width: 80rem;
    height: 37.5rem;
    background: #fff;

 }
 .home-contain{
     display: flex;
 }
 .home-3{
    padding-top: 6rem;
 }
 .home-dist{
     width: 100%!important;
}
.home-dist h1{
    text-align: center;
    color: var(--sec-color);
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, .5fr));
    gap: 1.3rem;
    padding: 1rem;
    box-sizing: border-box;
}
.box-container .box{
    text-align:center;
    background: #fff;
}
.box button{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;

}
.home-4{
    padding-top: 4rem;

}
.home-photo{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: .5rem;
}
.DesPhoto{
    padding: .5rem;
    text-align:center;
    background: #fff;
    
}

.pcss:hover{
    margin: 150px;
    width: 150px;
    height: 100px;
    transform: scale(3,3);
}
.home-5{
    background: #2A334A;
    height: 15rem;
}
.wid-photo h2{
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;

}
.wid-photo p{
    color:#fff;
    text-align: center;
    padding:1rem;


}
.width-photo{
    display: flex;
    padding-top: 2rem;
}
.Contact-us{
    margin: 1.5rem;
    padding: .8rem 1rem;
    border-radius:1rem;
    background: rgba(24,33,66,.5);
    width:40rem;
    height:25rem;
    margin-left: 25rem;
    text-align: center;
    position: absolute;

}
.Contact-us h1{
    color: var(--main-color);
}
.Contact-us h2{
    color:#ccc;
}
.Contact-us h3{
    color:#ccc;
}.Contact-us a{
    color:#EEEEEE;
}
.Contact-us p{
    color:#fff;
}
.footer-page{
    background: var(--sec-color);
    display: flex;
    padding-top: 2rem;

}
.footer-contain {
    display: inline-block;
    
}
.footer-contain button{
    margin: 0.25rem!important;
}
.footer-contain ul{
    list-style-type: none;
    display: flex;
}
.footer-contain a{
    text-decoration: none;
    color: #fff;
    padding: 0 12px;
    margin: 0 .7rem;
    
}
/*paris*/
.Paris-page{
    padding-top: 5rem;
    padding-left:6rem;
    padding-right:6rem;

}
.paris-cont{
    display: flex;
    background: #fff;
    border-radius: 2rem;
}
.paris-text1{
    padding: 1rem;
}
.paris-text1 h1{
text-align: center;
color: #D2AB95;
}
.paris-text1 p{
    padding: 1rem;
font-size: 1.5rem;    
color: #2A334A;
}